.events-list {
  background-color: var(--bg-color);
  border: 1px solid var(--border-color);
  min-height: 500px;
  padding: 0 0.5em 0.5em;
  position: relative;
  width: 100%;
}

.events-list h2 {
  background-color: var(--border-color);
  border: 1px solid var(--title-border-color);
  margin: 0.5em 0;
  padding: 0.2em 0.4em;
  font-size: 120%;
  font-weight: bold;
  font-family: inherit;
  text-transform: capitalize;
}